<html>
    <head>
        <title>
            {{ title }} - {{ SITE_NAME }}
        </title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css"/>
        <link rel="stylesheet" href="stylesheets/baby-blue.css"/>
        <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <h1>{{ SITE_NAME }}</h1>
            <h2>{{ AUTHOR }} is writing this blog</h2>
        </div>
        <div class="content">
            {{ content }}
        </div>

        <div class="legal pure-g-r">
            <div class="pure-u-2-5">
                <div class="l-box">
                    <p class="legal-license">
                        About
                        <hr/>
                        This blog is written by Tai-Lin Chu with vim and bash static website generator, Baker.
                    </p>
                </div>
            </div>
            <div class="pure-u-1-5">
                <div class="l-box legal-logo">
                    <img alt="baker" src="images/logo.png" width="65"/>
                    <br/><b>Baker</b>
                </div>
            </div>
            <div class="pure-u-2-5"></div>
        </div>
    </body>
</html>
