<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>
            {{ title }} - {{ SITE_NAME }}
        </title>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
        <link href='stylesheets/blog.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container-narrow">

            <div class="header">
                <h1>{{ SITE_NAME }}</h1>
                <h2>{{ AUTHOR }} is writing this blog</h2>
            </div>
            <div class="content">
                {{ content }}
            </div>
            <div class="footer row-fluid">
                <div class="legal span5">
                    About
                    <hr/>
                    This blog is written by Tai-Lin Chu with vim and bash static website generator, Baker.
                </div>
                <div class="logo span2">
                    <img alt="baker" src="images/logo.png" width="65"/>
                    <br/><b><a href="http://github.com/taylorchu/baker">Baker</a></b>
                </div>
                <div class="other span5">
                    {% call archive %}
                </div>
            </div>
        </div>
    </body>
</html>
