---
<!DOCTYPE html>
<html>
<head>
	{% include bootstrap %}
	{% include jwplayer %}
	<title>{{ site.name }} by {{ author }}</title>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>{{ site.name }} <small>{{ site.sub }}</small></h1>
		</div>
		<div class="row">
			<div class="col-md-8">		
				{% foreach posts %}
					<p class="lead"><a href="{{ url }}">{{ date }} - {{ title }}</a></p>
					<div class="summary">{{{ summary }}}</div>
					<p>
					{% foreach tags %}
						<a href="{{ value }}.html"><span class="label label-default">{{ value }}</span></a>  
					{% endforeach %}
					</p>
					<hr/>
				{% endforeach %}
			</div>
			<div class="col-md-4">
				{% include subscribe %}
				<div class="list-group">
				{% foreach pages %}
					<a class="list-group-item" href="{{ url }}">{{ title }}</a>
				{% endforeach %}
				{% foreach tags %}
					<a class="list-group-item" href="{{ value }}.html">{{ value }}</a>
				{% endforeach %}
				</div>
				<pre>{% snippet cal %}</pre>
				{% include baker %}
			</div>
		</div>
		{% include footer %}
	</div>
</body>
</html>
