---
<!DOCTYPE html>
<html>
<head>
	{% include bootstrap %}
	{% include jwplayer %}
	<title>{{ title }} - {{ date }} - {{ site.name }}</title>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>{{ title }}</h1>
		</div>
		<div class="row">
			<div class="col-md-8">
				{{{ content }}}
				{% include subscribe %}
			</div>
			<div class="col-md-4">
				<dl class="dl-horizontal">
					<dt>author</dt> 
					<dd>{{ author }}</dd>
					
					<dt>posted on</dt> 
					<dd>{{ date }}</dd>

					<dt><span class="glyphicon glyphicon-envelope"></span></dt>
					<dd><code>tailinchu [with] gmail</code></dd>
				</dl>

				<p class="text-center"><a href="index.html" class="btn btn-primary">Read more posts</a></p>

				<p class="text-center"><a href="mailto:tailinchu@mail.com" class="btn btn-default">Comment with Email</a></p>
				<hr/>
				{% include baker %}
			</div>
		</div>
		<hr/>
		<ul class="pager">
		{% if prev.url %}
			<li class="previous"><a href="{{ prev.url }}">&laquo; {{ prev.title }}</a></li>
		{% endif %}
		{% if next.url %}
			<li class="next"><a href="{{ next.url }}">{{ next.title }} &raquo;</a></li>
		{% endif %}
		</ul>
	</div>
</body>
</html>