---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ site.name }}</title>
		<description>{{ site.sub }}</description>
		<link>http://{{ site.url }}/index.html</link>
		<lastBuildDate>{% snippet date -R %}</lastBuildDate>

		{% foreach posts %}
			<item>
				<title>{{ title }}</title>
				<description>{{ summary }}</description>
				<link>http://{{ site.url }}/{{ url }}</link>
				<guid>http://{{ site.url }}/{{ url }}</guid>
				<pubDate>{{ rss.date }}</pubDate>
			</item>
		{% endforeach %}

	</channel>
</rss>