<!DOCTYPE html>
<html>
<head>
{% include bootstrap %}
{% include jwplayer %}
{% include masonry %}
<title>{{ tag }} - {{ site.name }}</title>
</head>
<body>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.html">Home</a></li>
		<li class="active">{{ tag }}</li>
	</ol>
	<div id="container" class="js-masonry"
		  data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
		{% foreach posts %}
		<div class="item">
			<p class="lead"><a href="{{ url }}">{{ title }}</a></p>
			<div class="summary">{{{ summary }}}</div>
		</div>
		{% endforeach %}
	</div>
	{% include footer %}
</div>
</body>
</html>
